@import '../styles/fonts.css';
a {
  cursor: pointer;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
  opacity: 1;
}
.button,
.button_shadow,
input,
.specialists__block,
nav {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a,
input,
textarea {
  outline: none;
}
body {
  margin: 0;
  background: #fff;
  cursor: default;
  overflow-x: hidden;
}
body *::-moz-selection {
  background: #ff6649;
  color: #fff;
}
body *::-webkit-selection {
  background: #ff6649;
  color: #fff;
}
body *::selection {
  background: #ff6649;
  color: #fff;
}
.burger {
  z-index: 40;
  position: absolute;
  top: 9px;
  right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid #ff6649;
  border-radius: 4px;
}
@media screen and (min-width: 1000px) {
  .burger {
    display: none;
  }
}
.burger span {
  -webkit-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  margin-bottom: 2px;
  display: block;
  width: 18px;
  height: 2px;
  background: #ff6649;
}
.burger span:last-child {
  margin-bottom: 0;
}
.burger.active span:first-child {
  position: absolute;
  margin-top: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger.active span:last-child {
  position: absolute;
  margin-top: 0px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger.active span:nth-child(2) {
  display: none;
}
.about {
  padding-top: 80px;
  background: #fff;
}
.about__title {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  font-size: 32px;
  font-family: 'Circe';
  font-weight: bold;
  text-align: center;
}
.about__content {
  padding: 109px 68px 98px;
  background: #f2f7f9;
  height: 92.5%;
}
.about__content-title {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: 'Circe';
  font-weight: bold;
}
.about__content-desc {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  font-size: 16px;
  font-family: 'Circe';
  font-weight: normal;
}
.about .swiper-container {
  margin-bottom: 30px;
}
.about .swiper-button-next {
  right: 30px;
  width: 45px;
  height: 45px;
  background: 0;
  background: #e35858;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about .swiper-button-next .icon {
  top: 14px;
  left: 17px;
  position: absolute;
  width: 10px;
  height: 17px;
  fill: #fff;
}
.about .swiper-button-next:after {
  content: "";
}
.about .swiper-button-next:hover {
  background: #fff;
}
.about .swiper-button-next:hover .icon {
  fill: #e35858;
}
.about .swiper-button-prev {
  left: 30px;
  width: 45px;
  height: 45px;
  background: 0;
  background: #e35858;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about .swiper-button-prev .icon {
  top: 14px;
  left: 15px;
  position: absolute;
  width: 10px;
  height: 17px;
  fill: #fff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.about .swiper-button-prev:after {
  content: "";
}
.about .swiper-button-prev:hover {
  background: #fff;
}
.about .swiper-button-prev:hover .icon {
  fill: #e35858;
}
.about .swiper-pagination {
  bottom: 30px !important;
}
.about .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  background: 0;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about .swiper-pagination-bullet:hover {
  background: #fff;
}
.about .swiper-pagination-bullet-active {
  background: #d2cfce;
  border-color: #d2cfce;
}
.about .swiper-pagination-bullet-active:hover {
  background: #fff;
  border-color: #fff;
}
.about .swiper-slide__img {
  background: 0;
}
.about-container .swiper-container .swiper-wrapper .swiper-slide,
.about .swiper-slide__img img {
  border-radius: 6px 0 0 6px;
}
.application {
  padding-top: 80px;
  background: #fff;
}
.application__title {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  font-size: 32px;
  font-family: 'Circe';
  font-weight: bold;
  text-align: center;
}
.application__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.application__list-item {
  width: 100%;
  position: relative;
}
.application__list-item:hover {
  top: -10px;
  left: 0;
  position: absolute;
  width: 103%;
}
.application__list-item:hover .application__list-preview {
  width: 100%;
}
.application__list-item:hover .application__list-mask {
  width: 100%;
}
.application__list-item:hover .application__list-body {
  bottom: 47px;
  left: 47px;
}
.application__list-mask {
  position: absolute;
  width: 103%;
  height: 100%;
  bottom: 4px;
  background: url('../img/mask.png') repeat-x bottom center;
  border-radius: 0 0 4px 4px;
}
.application__list-body {
  left: 20px;
  bottom: 30px;
  position: absolute;
  color: #fff;
}
.application__list-title,
.application__list-desc {
  margin: 0;
  padding: 0;
  width: 100%;
}
.application__list-title {
  font-size: 18px;
  font-family: 'Circe';
  font-weight: bold;
}
.application__list-desc {
  font-size: 14px;
  font-family: 'Circe';
  font-weight: normal;
}
.application__list-preview {
  margin: 0;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
}
.clients {
  background: url('../img/clients.jpg') no-repeat center;
  background-size: cover;
}
.clients__title {
  margin: 0;
  margin: 81px 0 6px 0;
  padding: 0;
  font-size: 32px;
  font-family: 'Circe';
  font-weight: bold;
  color: #fff;
}
.clients__desc {
  margin: 0;
  margin-bottom: 59px;
  padding: 0;
  font-size: 24px;
  font-family: 'Circe';
  font-weight: normal;
  color: #fff;
}
.clients__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clients__list .col-4,
.clients__list .col-8 {
  margin-bottom: 30px;
}
.clients__list .col-last {
  margin-bottom: 91px;
}
.clients__list-item {
  padding: 33px 0 50px 0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.clients__list-item:hover {
  background: #e35858;
}
.clients__list-item:hover .clients__list-title {
  color: #fff;
}
.clients__list-item_last {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__list-item_last .clients__list-icon {
  margin-left: 64px;
  margin-right: 56px;
  margin-top: 30px;
  width: 150px;
  height: 50px;
}
.clients__list-item_last .clients__list-title {
  text-align: left;
  margin-right: 9%;
  width: 100%;
}
.clients__list-icon {
  margin-bottom: 22px;
  width: 50px;
  height: 50px;
}
.clients__list-title {
  margin: 0 0 -20px 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Circe';
  font-weight: normal;
  color: #25313f;
  text-align: center;
}
.clients__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: #e35858;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
}
.clients__form-title {
  margin: 0;
  padding: 0;
  width: 70%;
  font-size: 32px;
  font-family: 'Circe';
  font-weight: 800;
}
.clients__form-desc {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  width: 70%;
  font-size: 14px;
  font-family: 'Circe';
  font-weight: normal;
}
.clients__form-body input[type="text"] {
  margin: 0 6px;
  margin-bottom: 17px;
  padding: 0 30px;
  background: #fff;
  outline: 0;
  border: 0;
  border-radius: 25px;
  height: 43px;
  font-size: 14px;
  font-family: 'Circe';
  font-weight: normal;
  color: #000;
}
.clients__form-body input[type="submit"] {
  margin: 0 6px;
  margin-bottom: 34px;
  padding: 0 70px;
  background: #0a0536;
  outline: 0;
  border: 0;
  border-radius: 25px;
  height: 43px;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.clients__form-body input[type="submit"]:hover {
  background: #120845;
}
.clients__form-condition {
  margin: 0;
  padding: 0;
  width: 70%;
  font-size: 12px;
  font-family: 'Circe';
  font-weight: normal;
}
@-webkit-keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.header {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 118px;
  background: #fff;
}
.header__button-call {
  position: absolute;
  margin: 47px 0 0 -164px;
  width: 195px;
  font-size: 18px;
  font-family: 'Futura PT Demi';
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #878787;
}
.header__button-call .icon {
  margin-top: -2px;
  margin-right: 10px;
  fill: #000;
  width: 16px;
  height: 14px;
}
@media screen and (max-width: 991px) {
  .header__button-call {
    display: none;
  }
}
.header__button-call:hover {
  color: #ff6649;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .header {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 15px;
    background: #fff;
    height: 70px;
  }
}
.header__row {
  position: relative;
}
.header_float {
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 52px;
}
.header_float .header__button-call {
  right: 0;
  top: 0;
  margin: 16px 180px 0 0;
  color: #000;
}
.header_float .header__button-call .icon {
  margin-top: -2px;
  margin-right: 10px;
  fill: #d5d5d5;
  width: 16px;
  height: 14px;
}
@media screen and (max-width: 991px) {
  .header_float {
    display: none;
  }
}
.header_float .logo__desc {
  visibility: hidden;
}
@media screen and (max-width: 991px) {
  .header_float .logo__desc {
    visibility: visible;
  }
}
.header_float .header__logo {
  margin-top: 8px;
}
@media screen and (max-width: 991px) {
  .header_float .header__logo {
    margin-top: 8px;
  }
}
.header_float .logo__icon {
  width: 36px;
  height: 35px;
}
@media screen and (max-width: 991px) {
  .header_float .logo__icon {
    margin-top: 8px;
  }
}
.header_float .logo__title {
  margin-left: 23px;
  margin-top: 8px;
  font-size: 19px;
}
.header_float .header__nav,
.header_float .header__nav-item {
  height: 52px;
}
.header_float .header__nav-item a:before,
.header_float .header__nav-item a:hover:before,
.header_float .header__nav-item a:after,
.header_float .header__nav-item a:hover:after {
  visibility: hidden;
}
.header_float .header__nav-item:hover {
  background: 0;
}
.header_float .header__button {
  margin-top: 12px;
  height: 28px !important;
  border-radius: 4px;
}
.header__logo {
  margin-top: 31px;
  margin-left: -16px;
}
@media screen and (max-width: 475px) {
  .header__logo {
    width: 200px;
  }
}
@media screen and (max-width: 991px) {
  .header__logo {
    margin: 12px 0 0 -12px;
    zoom: 0.8;
    width: 270px;
  }
}
@media screen and (max-width: 475px) {
  .header .logo__title,
  .header .logo__title {
    font-size: 11px;
  }
}
@media screen and (max-width: 991px) {
  .header .logo__title,
  .header .logo__title {
    margin-top: 8px;
  }
}
@media screen and (max-width: 991px) {
  .header .logo__desc {
    font-size: 10px;
  }
}
@media screen and (max-width: 991px) {
  .header .logo__icon {
    margin-top: 2px;
  }
}
@media screen and (max-width: 475px) {
  .header .logo__icon {
    width: 90px;
    margin-right: 20px;
  }
}
.header__button {
  position: absolute;
  right: -12px;
  margin-top: 31px;
  width: 195px;
  height: 51px !important;
  background: #ffd10a !important;
  color: #000 !important;
}
@media screen and (max-width: 991px) {
  .header__button {
    right: inherit;
    position: relative;
    margin: 30px auto;
    display: none;
  }
}
.header__nav {
  height: 118px;
  -webkit-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 991px) {
  .header__nav {
    height: auto;
    margin-top: 0;
  }
}
@media screen and (min-width: 998px) and (max-width: 1200px) {
  .header__nav {
    margin-left: 70px;
  }
}
.header__nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
@media screen and (max-width: 991px) {
  .header__nav-list {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__nav-item {
  margin-right: 10px;
  padding-right: 6px;
  height: 118px;
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .header__nav-item {
    margin-right: 18px;
  }
}
@media screen and (max-width: 991px) {
  .header__nav-item {
    height: 45px;
    margin: 0;
  }
}
@media screen and (max-width: 991px) {
  .header__nav-item {
    text-align: center;
  }
}
.header__nav-item a,
.header__nav-item a:hover {
  position: relative;
  padding: 0 0 0 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Futura PT Demi';
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .header__nav-item a,
  .header__nav-item a:hover {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .header__nav-item a,
  .header__nav-item a:hover {
    font-size: 9px;
  }
}
.header__nav-item a {
  color: #bdc4d3;
}
.header__nav-item a:before,
.header__nav-item a:after {
  visibility: hidden;
}
.header__nav-item:hover {
  background: #ffd800;
}
@media screen and (max-width: 991px) {
  .header__nav-item:hover {
    background: 0;
  }
}
@media screen and (max-width: 998px) {
  .header__nav {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__nav-active,
  .header__button-active {
    display: block;
  }
  .header__button-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__nav-active {
  margin-top: 0px !important;
}
@media screen and (max-width: 991px) {
  .header__nav-active {
    margin-top: 20px !important;
  }
}
.header__float {
  height: auto;
}
.header__float .header__nav {
  margin-top: 0px;
  height: auto;
}
@media screen and (max-width: 991px) {
  .header__float-show {
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .header__float-show .header__nav {
    margin-top: 0px;
    height: auto;
  }
}
.header .burger {
  top: 18px;
  right: 15px;
}
.header_float .burger {
  top: 9px;
  right: 15px;
}
@media screen and (max-width: 991px) {
  .header__nav_height {
    margin-top: 50px !important;
  }
}
@keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.header {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 118px;
  background: #fff;
}
.header__button-call {
  position: absolute;
  margin: 47px 0 0 -164px;
  width: 195px;
  font-size: 18px;
  font-family: 'Futura PT Demi';
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #878787;
}
.header__button-call .icon {
  margin-top: -2px;
  margin-right: 10px;
  fill: #000;
  width: 16px;
  height: 14px;
}
@media screen and (max-width: 991px) {
  .header__button-call {
    display: none;
  }
}
.header__button-call:hover {
  color: #ff6649;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .header {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 15px;
    background: #fff;
    height: 70px;
  }
}
.header__row {
  position: relative;
}
.header_float {
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 52px;
}
.header_float .header__button-call {
  right: 0;
  top: 0;
  margin: 16px 180px 0 0;
  color: #000;
}
.header_float .header__button-call .icon {
  margin-top: -2px;
  margin-right: 10px;
  fill: #d5d5d5;
  width: 16px;
  height: 14px;
}
@media screen and (max-width: 991px) {
  .header_float {
    display: none;
  }
}
.header_float .logo__desc {
  visibility: hidden;
}
@media screen and (max-width: 991px) {
  .header_float .logo__desc {
    visibility: visible;
  }
}
.header_float .header__logo {
  margin-top: 8px;
}
@media screen and (max-width: 991px) {
  .header_float .header__logo {
    margin-top: 8px;
  }
}
.header_float .logo__icon {
  width: 36px;
  height: 35px;
}
@media screen and (max-width: 991px) {
  .header_float .logo__icon {
    margin-top: 8px;
  }
}
.header_float .logo__title {
  margin-left: 23px;
  margin-top: 8px;
  font-size: 19px;
}
.header_float .header__nav,
.header_float .header__nav-item {
  height: 52px;
}
.header_float .header__nav-item a:before,
.header_float .header__nav-item a:hover:before,
.header_float .header__nav-item a:after,
.header_float .header__nav-item a:hover:after {
  visibility: hidden;
}
.header_float .header__nav-item:hover {
  background: 0;
}
.header_float .header__button {
  margin-top: 12px;
  height: 28px !important;
  border-radius: 4px;
}
.header__logo {
  margin-top: 31px;
  margin-left: -16px;
}
@media screen and (max-width: 475px) {
  .header__logo {
    width: 200px;
  }
}
@media screen and (max-width: 991px) {
  .header__logo {
    margin: 12px 0 0 -12px;
    zoom: 0.8;
    width: 270px;
  }
}
@media screen and (max-width: 475px) {
  .header .logo__title,
  .header .logo__title {
    font-size: 11px;
  }
}
@media screen and (max-width: 991px) {
  .header .logo__title,
  .header .logo__title {
    margin-top: 8px;
  }
}
@media screen and (max-width: 991px) {
  .header .logo__desc {
    font-size: 10px;
  }
}
@media screen and (max-width: 991px) {
  .header .logo__icon {
    margin-top: 2px;
  }
}
@media screen and (max-width: 475px) {
  .header .logo__icon {
    width: 90px;
    margin-right: 20px;
  }
}
.header__button {
  position: absolute;
  right: -12px;
  margin-top: 31px;
  width: 195px;
  height: 51px !important;
  background: #ffd10a !important;
  color: #000 !important;
}
@media screen and (max-width: 991px) {
  .header__button {
    right: inherit;
    position: relative;
    margin: 30px auto;
    display: none;
  }
}
.header__nav {
  height: 118px;
  -webkit-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 991px) {
  .header__nav {
    height: auto;
    margin-top: 0;
  }
}
@media screen and (min-width: 998px) and (max-width: 1200px) {
  .header__nav {
    margin-left: 70px;
  }
}
.header__nav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
@media screen and (max-width: 991px) {
  .header__nav-list {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__nav-item {
  margin-right: 10px;
  padding-right: 6px;
  height: 118px;
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .header__nav-item {
    margin-right: 18px;
  }
}
@media screen and (max-width: 991px) {
  .header__nav-item {
    height: 45px;
    margin: 0;
  }
}
@media screen and (max-width: 991px) {
  .header__nav-item {
    text-align: center;
  }
}
.header__nav-item a,
.header__nav-item a:hover {
  position: relative;
  padding: 0 0 0 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Futura PT Demi';
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .header__nav-item a,
  .header__nav-item a:hover {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .header__nav-item a,
  .header__nav-item a:hover {
    font-size: 9px;
  }
}
.header__nav-item a {
  color: #bdc4d3;
}
.header__nav-item a:before,
.header__nav-item a:after {
  visibility: hidden;
}
.header__nav-item:hover {
  background: #ffd800;
}
@media screen and (max-width: 991px) {
  .header__nav-item:hover {
    background: 0;
  }
}
@media screen and (max-width: 998px) {
  .header__nav {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__nav-active,
  .header__button-active {
    display: block;
  }
  .header__button-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__nav-active {
  margin-top: 0px !important;
}
@media screen and (max-width: 991px) {
  .header__nav-active {
    margin-top: 20px !important;
  }
}
.header__float {
  height: auto;
}
.header__float .header__nav {
  margin-top: 0px;
  height: auto;
}
@media screen and (max-width: 991px) {
  .header__float-show {
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .header__float-show .header__nav {
    margin-top: 0px;
    height: auto;
  }
}
.header .burger {
  top: 18px;
  right: 15px;
}
.header_float .burger {
  top: 9px;
  right: 15px;
}
@media screen and (max-width: 991px) {
  .header__nav_height {
    margin-top: 50px !important;
  }
}
.main {
  padding: 78px 0 52px 0;
  background: url('../img/main.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.main__navigation {
  left: 49px;
  top: 225px;
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.main__navigation-active {
  position: relative;
  color: #e35858 !important;
}
.main__navigation-active:after {
  position: absolute;
  top: 11px;
  right: -45px;
  content: '';
  width: 31px;
  height: 2px;
  background: #e35858;
}
.main__navigation-item {
  margin-bottom: 34px;
}
.main__navigation-item a,
.main__navigation-item a:hover {
  position: relative;
  font-size: 16px;
  font-family: 'Circe';
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.main__navigation-item a:hover,
.main__navigation-item a:hover:hover {
  color: #e35858;
}
.main__socials {
  top: 35%;
  -webkit-transform: translateY(-35%);
      -ms-transform: translateY(-35%);
          transform: translateY(-35%);
  right: 38px;
  position: absolute;
  padding: 21px 0;
  list-style: none;
  width: 47px;
  background: #fff;
  border-radius: 25px;
}
.main__socials-item {
  margin-bottom: 10px;
}
.main__socials-item:last-child {
  margin-bottom: 0;
}
.main__socials-icon {
  width: 22px;
  height: 22px;
}
.main__title {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  font-size: 56px;
  font-family: 'Circe';
  font-weight: bold;
}
.main__list {
  position: relative;
}
.main__list-item {
  padding: 28px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 6px 6px 0 0;
  color: #fff;
  text-decoration: none;
}
.main__list-item:hover {
  position: absolute;
  padding: 37px 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  text-decoration: none;
  color: #000;
}
.main__list-icon {
  margin: 0;
  margin-bottom: 16px;
  width: 43px;
  height: 60px;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}
.main__list-content {
  margin: 0;
  padding: 0;
  width: 180px;
  font-size: 16px;
  font-family: 'Circe';
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main__form {
  position: relative;
  padding: 39px 0 51px 0;
  background: #e35858;
  border-radius: 6px;
}
.main__form-gift {
  bottom: -51px;
  right: 0;
  position: absolute;
  width: 190px;
  height: 130px;
  border-radius: 0 0 6px 0;
}
.main__form-title {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  font-size: 24px;
  font-family: 'Circe';
  font-weight: bold;
}
.main__form-body {
  margin-bottom: 25px;
}
.main__form-body input[type="text"] {
  margin: 0 6px;
  padding: 0 30px;
  background: #fff;
  outline: 0;
  border: 0;
  border-radius: 25px;
  height: 43px;
  font-size: 14px;
  font-family: 'Circe';
  font-weight: normal;
  color: #000;
}
.main__form-body input[type="submit"] {
  margin: 0 6px;
  padding: 0 23px;
  background: #0a0536;
  outline: 0;
  border: 0;
  border-radius: 25px;
  height: 43px;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.main__form-body input[type="submit"]:hover {
  background: #120845;
}
.main__form-condition {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Circe';
  font-weight: 200;
}
.popup {
  position: relative;
  width: 556px;
  height: 318px;
  background: #fff;
  border-radius: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 700px) {
  .popup {
    width: 360px;
    height: auto;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 700px) {
  .popup {
    width: 300px;
    height: auto;
    padding-bottom: 20px;
  }
}
.popup__link {
  width: 195px;
  border-radius: 4px;
  height: 38px;
}
.popup_long {
  max-width: 660px;
  height: 500px;
  overflow: auto;
}
.popup__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 22px;
  font-family: 'Futura PT Book';
  text-align: center;
  color: #000;
}
@media screen and (max-width: 320px) {
  .popup__title {
    width: 100%;
    margin-top: 20px;
    padding: 10px 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .popup__title {
    width: 100%;
    margin-top: 20px;
    padding: 10px 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.popup__close {
  top: 16px;
  right: 16px;
  position: absolute;
  display: block;
}
.popup__close:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.popup__icon {
  width: 14px;
  height: 14px;
}
.popup__content {
  font-size: 16px;
  font-family: 'lator', sans-serif;
  line-height: 20px;
  color: #000;
}
.popup__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
}
.popup__form input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 4px;
}
.popup__form input:last-child {
  margin-bottom: 0;
}
.popup__form .form__input {
  width: 100%;
}
.product {
  padding: 82px 0 85px 0;
  background: #fff;
  text-align: center;
}
.product__title {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-size: 32px;
  font-family: 'Circe';
  font-weight: bold;
  color: #25313f;
}
.product__list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}
.product__list-item {
  position: relative;
  height: auto;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 4px 0px 21px 0px rgba(0, 0, 0, 0.29);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.product__list-item:hover {
  top: -10px;
  left: 0;
  position: absolute;
  width: 100%;
  background: #e35858;
  -webkit-box-shadow: 4px 0px 68px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 4px 0px 68px 0px rgba(0, 0, 0, 0.29);
}
.product__list-item:hover .product__list-link img {
  width: 100%;
  height: 210px;
}
.product__list-item:hover .product__list-link,
.product__list-item:hover .product__list-title {
  color: #fff;
}
.product__list-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}
.product__list-link:hover {
  text-decoration: none;
}
.product__list-link img {
  margin: 0;
  display: block;
  border: 0;
  border-radius: 6px 6px 0 0;
}
.product__list-title {
  margin: 27px 0 37px 0;
  font-size: 16px;
  font-family: 'Circe';
  font-weight: normal;
  color: #000;
}
.product__button {
  padding: 0 66px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  background: #fff;
  border-radius: 25px;
  border: 2px solid #e35858;
  font-size: 12px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  color: #e35858;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.product__button:hover {
  background: #e35858;
  color: #fff;
  text-decoration: none;
}
.questions {
  margin-bottom: 42px;
}
.questions__preview {
  margin-top: -20px;
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .questions__preview {
    display: none;
  }
}
@media screen and (max-width: 1340px) {
  .questions__preview {
    margin-top: 80px;
    zoom: 0.65;
  }
}
@media screen and (min-width: 1340px) {
  .questions__preview {
    margin-top: 80px;
    zoom: 0.80;
  }
}
.questions__form {
  margin-top: -2px;
  margin-left: -2px;
}
.questions__title {
  margin: 58px 0 40px -2px;
  font-family: 'Futura PT';
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}
@media screen and (max-width: 991px) {
  .questions__title {
    margin: 24px 0;
    height: auto;
    text-align: center;
  }
}
@media screen and (max-width: 1340px) {
  .questions__title {
    margin-top: 48px;
  }
}
.questions__desc {
  margin-top: -2px;
  margin-left: -2px;
  margin-bottom: 76px;
  font-family: 'Futura PT Book';
  font-size: 16px;
  color: #000;
}
@media screen and (max-width: 991px) {
  .questions__desc {
    margin: 0 0 24px 0;
    height: auto;
    text-align: center;
  }
}
@media screen and (max-width: 1340px) {
  .questions__desc {
    margin: -30px 0 20px 0;
  }
}
.questions__desc span {
  position: relative;
  margin-bottom: 20px;
  display: block;
  font-family: 'Futura PT';
  font-weight: 900;
  color: #000;
}
@media screen and (max-width: 1340px) {
  .questions__desc span {
    margin: 0px 0 20px 0;
  }
}
.questions__desc span::before {
  top: 9px;
  right: -160px;
  position: absolute;
  content: "";
  width: 198px;
  height: 2px;
  background: #000;
  z-index: 10;
  display: none;
}
@media screen and (max-width: 1200px) {
  .questions__desc span::before {
    display: none;
  }
}
.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__input,
.form__textarea {
  border: 1px solid #c6c6c6;
  font-family: 'Futura PT Demi';
  font-size: 14px;
  text-align: center;
  color: #000;
  outline: none;
}
.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
.form__input::placeholder,
.form__textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}
.form__input:-ms-input-placeholder,
.form__textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}
.form__input::-ms-input-placeholder,
.form__textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}
.form__input {
  padding: 0 10px;
  margin-bottom: 9px;
  width: 100%;
  height: 46px;
}
.form__textarea {
  padding: 10px 10px;
  margin-bottom: 9px;
  height: 84px;
  resize: none;
}
.form__textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 60px;
}
.form__textarea::-webkit-input-placeholder {
  /* Webkit */
  line-height: 60px;
}
.form__textarea:-ms-input-placeholder {
  /* IE */
  line-height: 60px;
}
.form__button {
  height: 48px !important;
}
.stone {
  padding-top: 80px;
  background: #fff;
}
.stone__title {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  font-size: 32px;
  font-family: 'Circe';
  font-weight: bold;
  text-align: center;
}
.stone__desc {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  font-size: 24px;
  font-family: 'Circe';
  font-weight: normal;
  text-align: center;
}
.stone__about {
  padding: 50px 68px;
  background: #f2f7f9;
}
.stone__about-title {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-family: 'Circe';
  font-weight: bold;
}
.stone__about-desc {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  font-size: 16px;
  font-family: 'Circe';
  font-weight: normal;
}
.stone .swiper-container {
  margin-bottom: 30px;
}
.stone .swiper-button-next {
  right: 30px;
  width: 45px;
  height: 45px;
  background: 0;
  background: #e35858;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.stone .swiper-button-next .icon {
  top: 14px;
  left: 17px;
  position: absolute;
  width: 10px;
  height: 17px;
  fill: #fff;
}
.stone .swiper-button-next:after {
  content: "";
}
.stone .swiper-button-next:hover {
  background: #fff;
}
.stone .swiper-button-next:hover .icon {
  fill: #e35858;
}
.stone .swiper-button-prev {
  left: 30px;
  width: 45px;
  height: 45px;
  background: 0;
  background: #e35858;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.stone .swiper-button-prev .icon {
  top: 14px;
  left: 15px;
  position: absolute;
  width: 10px;
  height: 17px;
  fill: #fff;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.stone .swiper-button-prev:after {
  content: "";
}
.stone .swiper-button-prev:hover {
  background: #fff;
}
.stone .swiper-button-prev:hover .icon {
  fill: #e35858;
}
.stone .swiper-pagination {
  bottom: 30px !important;
}
.stone .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  background: 0;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.stone .swiper-pagination-bullet:hover {
  background: #fff;
}
.stone .swiper-pagination-bullet-active {
  background: #d2cfce;
  border-color: #d2cfce;
}
.stone .swiper-pagination-bullet-active:hover {
  background: #fff;
  border-color: #fff;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
