mixin stone(data)
    - data = data || {};
    section.stone(class = data.class role = data.role)
        .stone__container.container
            .row
                .col-12
                    h3.stone__title Что такое гибкий камень?
                    p.stone__desc подробнее о прорывной технологии XXI века
                .col-12
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/stone/stone-1.jpg" alt="@@")
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/stone/stone-2.jpg" alt="@@")
                            .swiper-slide
                                .swiper-slide__img
                                    img(src="../img/stone/stone-1.jpg" alt="@@")

                        .swiper-button-prev
                            svg.icon.clients__list-icon
                                use(xlink:href="../img/sprite/sprite.svg#next")
                        .swiper-button-next
                            svg.icon.clients__list-icon
                                use(xlink:href="../img/sprite/sprite.svg#next")
                        .swiper-pagination
                .col-12
                    .stone__about
                        h4.stone__about-title Пoкpытие из гибкогo кaмня oблaдaет масcoй пpеимуществ. Oн пoдxoдит для oтделки вceвoзмoжныx пoверхноcтей – cтeн, пола, потолкa, кoлoнн, мeбели, фасадoв, лeстниц и т.д.
                        p.stone__about-desc
                            | <br/> Дoстoинcтва мaтepиaла гибкий кaмень:
                            | <br/> 1. Функциональность – небoльшая тoлщинa (до 4 мм) пoзволяет применять гибкий камень для облицовки любых поверхностей, в том числе округлых, угловатых, нестандартных форм.
                            | <br/> 2. Способность выдерживать повышенную влажность воздуха и непосредственный контакт с водой предоставляет новые возможности для отделки ванных комнат, бассейнов, кухонь и т.д.
                            | <br/> 3. Гибкий камень изготовляют из натуральных минералов, поэтому он совершенно безопасен с точки зрения экологии (можно применять в детской комнате).
                            | <br/> 4. Форма выпуска – плитки и листы, благодаря чему монтаж проходит очень просто и быстро.

                        p.stone__about-desc
                            | <br/> 5. Особое строение дает возможность создавать бесшовные покрытия, имитирующие цельную поверхность из монолитной каменной плиты.
                            | <br/> 6. Гибкий камень легко разрезать канцелярским ножом или ножницами.
                            | <br/> 7. Абсолютная пожаробезопасность – материал не горит и не поддерживает горение. По этой причине его выбирают для отделки печей и каминов.
                            | <br/> 8. Простой уход – покрытие из гибкого камня легко отмыть обычной водой и губкой, так что если дома живут маленькие дети, им можно не запрещать рисовать на стенах.
                            | <br/> 9. Невосприимчивость к температурным скачкам, что позволяет использовать материал для внешней отделки даже в северных регионах страны.
                            | <br/> 10. Уникальность рисунка – особая технология производства исключает шаблонность. При всем желании не получится сделать два одинаковых рисунка, что говорит лишь в пользу уникальности и натуральности. Естественная цветовая гамма в точности имитирует поверхности из натурального камня, конечно, если исходный материал (крошка) не окрашен пигментами.
                            | <br/> 11. Еще одно уникальное свойство гибкого камня – светопроницаемость. Им можно оклеивать напольные светильники или делать замаскированные источники освещения в комнате – лучи будут пробиваться сквозь поверхность, давая мягкий успокаивающий свет.
                            | <br/> 12. Морозостойкость гибкого камня F100 - что это значит?
                        p.stone__about-desc
                            | Обычно цифра, стоящая после F, означает количество циклов полного замораживания/оттаивания. По истечении этого количества, прочность материала уменьшается на 10%. 50 циклов для средней полосы России означают 50 лет. Морозостойкости выше 50 редко используются в обычном строительстве, только в строениях особого назначения.