mixin product(data)
    - data = data || {};
    section#product.product(class = data.class role = data.role)
        .product__container.container
            h3.product__title Наш продукт
            .row
                .col-12
                    
                    ul.product__list
                        .row
                            .col-3
                                li.product__list-item
                                    a.product__list-link(href="#" title="")
                                        img(src="../img/products/product-1.jpg" alt="@@")
                                        p.product__list-title Гибкий камень
                            .col-3
                                li.product__list-item
                                    a.product__list-link(href="#" title="")
                                        img(src="../img/products/product-2.jpg" alt="@@")
                                        p.product__list-title Термпопанели
                            .col-3
                                li.product__list-item
                                    a.product__list-link(href="#" title="")
                                        img(src="../img/products/product-3.jpg" alt="@@")
                                        p.product__list-title Клей и грунт
                            .col-3
                                li.product__list-item
                                    a.product__list-link(href="#" title="")
                                        img(src="../img/products/product-4.jpg" alt="@@")
                                        p.product__list-title Картины и часы
            .row
                .col-12
                    a.product__button(href="#" title="") Смотреть весь каталог