// questions

.questions {
    background: url('../img/questions.jpg') no-repeat center;
    background-size: cover;
    height: 100%;

    &__container {
        height: 100%;
    }

    &_alt {
        background: @white;

        .questions__form {
            padding: 31.5px 0;
            height: auto;
            border-radius: 6px;
        }

        .questions__form-body input {
            height: 33px !important;
        }

        .questions__form-body textarea {
            height: 69px !important;
            margin-bottom: 20px;
        }

        .questions__form-condition {
            font-size: 8px;
            margin-bottom: 0;
        }

        .questions-alt__preview {
            width: 100%;
            height: auto;
            border-radius: 4px;
        }

        .question-alt__title {
            margin: 0;
            margin-bottom: 30px;
            padding: 0;
            font-size: 32px;
            font-family: 'Circe';
            font-weight: bold;
            color: @black;
        }

        .question-alt__desc {
            position: relative;
            margin: 0;
            margin-bottom: 34px;
            padding: 0;
            font-size: 16px;
            font-family: 'Circe';
            font-weight: normal;
            color: @black;

            &:after {
                position: absolute;
                top: 7px;
                right: -170px;
                width: 198px;
                height: 2px;
                background: @black;
                content: '';
                z-index: 1;
            }

        }

    }

    &__content {
        padding: 250px 0;

        &-title {
            margin: 0;
            margin-left: 83px;
            padding: 0;
            font-size: 48px;
            font-family: 'Circe';
            font-weight: bold;
            color: @white;
        }

    }

    &__title {
        margin: 0;
        margin: 81px 0 6px 0;
        padding: 0;
        font-size: 32px;
        font-family: 'Circe';
        font-weight: bold;
        color: @white;
    }

    &__desc {
        margin: 0;
        margin-bottom: 59px;
        padding: 0;
        font-size: 24px;
        font-family: 'Circe';
        font-weight: normal;
        color: @white;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: #e35858;
        text-align: center;
        color: @white;
        -webkit-box-shadow: 4px 0px 21px 0px rgba(0,0,0,0.29);
        -moz-box-shadow: 4px 0px 21px 0px rgba(0,0,0,0.29);
        box-shadow: 4px 0px 21px 0px rgba(0,0,0,0.29);

        &-title {
            margin: 0;
            padding: 0;
            width: 70%;
            font-size: 32px;
            font-family: 'Circe';
            font-weight: 800;
        }

        &-desc {
            margin: 0;
            margin-bottom: 20px;
            padding: 0;
            width: 100%;
            font-size: 16px;
            font-family: 'Circe';
            font-weight: normal;
            text-align: center;
        }

        &-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 25px;

            input[type="text"] {
                margin: 0 6px;
                margin-bottom: 17px;
                padding: 0 30px;
                background: @white;
                outline: 0;
                border: 0;
                border-radius: 25px;
                height: 43px;
                font-size: 14px;
                font-family: 'Circe';
                font-weight: normal;
                color: @black;
            }

            textarea {
                margin: 0 6px;
                margin-bottom: 42px;
                padding: 30px 30px 0 30px;
                background: @white;
                outline: 0;
                border: 0;
                border-radius: 25px;
                min-height: 85px;
                font-size: 14px;
                font-family: 'Circe';
                font-weight: normal;
                color: @black;
                resize: none;
                box-sizing: border-box;
            }

            input[type="submit"] {
                margin: 0 6px;
                margin-bottom: 23px;
                padding: 0 70px;
                background: #0a0536;
                outline: 0;
                border: 0;
                border-radius: 25px;
                height: 43px;
                font-size: 12px;
                font-family: 'Montserrat';
                font-weight: 800;
                color: @white;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    background: #120845;
                }

            }
        }

        &-condition {
            margin: 0;
            padding: 0;
            width: 70%;
            font-size: 12px;
            font-family: 'Circe';
            font-weight: normal;
        }

    }

}
