mixin questions(data)
    - data = data || {};
    section.questions(class = data.class role = data.role)
        .questions__container.container
            .row
                .col-5
                    .questions__form
                        form.questions__form-body(action="/" method="post")
                            input(type="text" placeholder="Ваше имя" required)
                            input(type="text" placeholder="Ваш телефон" required)
                            textarea(placeholder="Ваш вопрос" required)
                            p.questions__form-desc Мы свяжемся с Вами в ближайшее время
                            input(type="submit" value="Задать вопрос")
                        p.questions__form-condition Нажимая кнопку “Расчитать” Вы соглашаетесь на обработку Вашей персональной информации
                .col-7
                    .questions__content
                        h3.questions__content-title Задайте вопрос напрямую руководителям компании каменный остров

mixin questionsAlt(data)
    - data = data || {};
    section.questions.questions_alt(class = data.class role = data.role)
        .questions__container.container
            .row
                .col-4
                    h3.question-alt__title У Вас остались <br/> вопросы?
                    p.question-alt__desc Мы перезвоним Вам в течение 2 минут <br/> и бесплатно проконсультируем по любому возникшему вопросу
                    .questions__form
                        form.questions__form-body(action="/" method="post")
                            input(type="text" placeholder="Ваше имя" required)
                            input(type="text" placeholder="Ваш телефон" required)
                            textarea(placeholder="Ваш вопрос" required)
                            input(type="submit" value="Задать вопрос")
                        p.questions__form-condition Нажимая кнопку “Расчитать” Вы соглашаетесь на обработку Вашей персональной информации
                .col-8
                    img.questions-alt__preview(src="../img/questions-alt.jpg" alt="@@")
                        