mixin main(data)
    - data = data || {};
    section.main(class = data.class role = data.role)
        .main__container.container
            ul.main__navigation
                li.main__navigation-item
                    a(href="#product" title="") 
                        | Продукция
                        span
                li.main__navigation-item
                    a(href="#stone" title="")
                        | Гибкий камень
                        span
                li.main__navigation-item
                    a(href="#about" title="") 
                        | О нас
                        span
                li.main__navigation-item
                    a(href="#contacts" title="") 
                        | Контакты
                        span
            ul.main__socials
                li.main__socials-item
                    a(href="#" title="")
                        svg.icon.main__socials-icon
                            use(xlink:href="../img/sprite/sprite.svg#facebook")
                li.main__socials-item
                    a(href="#" title="")
                        svg.icon.main__socials-icon
                            use(xlink:href="../img/sprite/sprite.svg#vk")
                li.main__socials-item
                    a(href="#" title="")
                        svg.icon.main__socials-icon
                            use(xlink:href="../img/sprite/sprite.svg#instagram")
            .row
                .col-xl-12
                    h2.main__title Оригинальные интерьерные решения из гибкого камня
            .main__list.row
                .col-xl-3.col-lg-6.col-md-6
                    a.main__list-item.linkCall(href="#" title="")
                        svg.icon.main__list-icon
                            use(xlink:href="../img/sprite/sprite.svg#durable")
                        p.main__list-content Прочность и <br/> долговечность
                .col-xl-3.col-lg-6.col-md-6
                    a.main__list-item.linkCall(href="#" title="")
                        svg.icon.main__list-icon
                            use(xlink:href="../img/sprite/sprite.svg#firewall")
                        p.main__list-content Влагостойкость и огнеустойчивость
                .col-xl-3.col-lg-6.col-md-6
                    a.main__list-item.linkCall(href="#" title="")
                        svg.icon.main__list-icon
                            use(xlink:href="../img/sprite/sprite.svg#nature")
                        p.main__list-content Универсальность в отделке и экологичность
                .col-xl-3.col-lg-6.col-md-6
                    a.main__list-item.linkCallThx(href="#" title="")
                        svg.icon.main__list-icon
                            use(xlink:href="../img/sprite/sprite.svg#cold")
                        p.main__list-content Высокая устойчивость к низким температурам
            .main__form.row
                .col-12
                    img.main__form-gift(src="../img/gift.png" alt="@@")
                    h3.main__form-title Узнайте стоимость гибкого камня и получите подарок по сезонной акции!
                    form.main__form-body(action="/" method="post")
                        input(type="text" name="name" placeholder="Ваше имя" required)
                        input(type="text" name="phone" placeholder="Ваш телефон" required)
                        input(type="hidden" name="cost" value="Узнайте стоимость и получите подарок")
                        input(type="submit" value="Получить подарок")
                    p.main__form-condition Нажимая на кнопку “получить скидку” - вы даете согласие на обработку персональных данных.