include ../blocks/head/head
include ../blocks/main/main
include ../blocks/product/product
include ../blocks/clients/clients
include ../blocks/stone/stone
//include ../blocks/contacts/contacts
include ../blocks/popups/popups

doctype html
html(lang='ru')
  +head({
    title: 'Гибкие камни',
    keywords: '',
    description: ''
  })
  body
    // BEGIN MAIN

    +main

    // END MAIN

    // BEGIN PRODUCT

    +product

    // END PRODUCT

    // BEGIN CLIENTS

    +clients

    // END CLIENTS

    // BEGIN STONE

    +stone

    // END STONE

    // BEGIN APPLICATION

    // END APPLICATION

    // BEGIN ABOUT

    // END ABOUT

    // BEGIN QUESTIONS

    // BEGIN END QUESTIONS

    // BEGIN STAGES

    // END STAGES

    // BEGIN QUESTIONS ALT

    // END QUESTION ALT

    // BEGIN CONTACTS

    // END CONTACTS

    // BEGIN POPUPS

    +popup({
      class: 'popupCall',
    })

    +popupThanks

    // END POPUPS

    // htmlbuild:js 

    script(src='../js/libs/jquery-3.4.1.min.js')
    script(src='../js/libs/jquery.maskedinput.min.js')
    script(src="../js/libs/svg4everybody.min.js")
    script(src='../js/libs/jquery.bpopup.min.js')
    script(src='../js/libs/swiper.js')

    // endbuild 
    script(src='../js/scripts.js')
 
    // END SCRIPTS