include ../blocks/head/head
include ../blocks/main/main
include ../blocks/product/product
include ../blocks/clients/clients
include ../blocks/stone/stone
include ../blocks/application/application
include ../blocks/about/about
include ../blocks/questions/questions
include ../blocks/stages/stages
include ../blocks/contacts/contacts
include ../blocks/popups/popups

doctype html
html(lang='ru')
  +head({
    title: 'Гибкие камни',
    keywords: '',
    description: ''
  })
  body
    // BEGIN MAIN

    +main

    // END MAIN

    // BEGIN PRODUCT

    +product

    // END PRODUCT

    // BEGIN CLIENTS

    +clients

    // END CLIENTS

    // BEGIN STONE

    +stone

    // END STONE

    // BEGIN APPLICATION

    +application

    // END APPLICATION

    // BEGIN ABOUT

    +about

    // END ABOUT

    // BEGIN QUESTIONS

    +questions

    // BEGIN END QUESTIONS

    // BEGIN STAGES

    +stages

    // END STAGES

    // BEGIN QUESTIONS ALT

    +questionsAlt

    // END QUESTION ALT

    // BEGIN CONTACTS
    +contacts
    // END CONTACTS

    // BEGIN POPUPS

    +popup({
      class: 'popupCall',
    })

    +popupThanks

    // END POPUPS

    // htmlbuild:js 

    script(src='../js/libs/jquery-3.4.1.min.js')
    script(src='../js/libs/jquery.maskedinput.min.js')
    script(src="../js/libs/svg4everybody.min.js")
    script(src='../js/libs/jquery.bpopup.min.js')
    script(src='../js/libs/swiper.js')

    // endbuild 
    script(src='../js/scripts.js')
 
    // END SCRIPTS