mixin clients(data)
    - data = data || {};
    section.clients(class = data.class role = data.role)
        .clients__container.container
            .row
                .col-xl-9.col-md-12

                    .row
                        .col-12
                            h3.clients__title Более 50 клиентов ежедневно выбирают именно нас
                            p.clients__desc наши клиенты экономят, при этом получая высокое качество
                    .clients__list
                        .row
                            .col-lg-4.col-md-4
                                .clients__list-item
                                    svg.icon.clients__list-icon
                                        use(xlink:href="../img/sprite/sprite.svg#putty-knife")
                                    p.clients__list-title Требует минимум клеевой <br/> основы
                            .col-lg-4.col-md-4
                                .clients__list-item
                                    svg.icon.clients__list-icon
                                        use(xlink:href="../img/sprite/sprite.svg#debit-card")
                                    p.clients__list-title Гибкая система оплат
                            .col-lg-4.col-md-4
                                .clients__list-item
                                    svg.icon.clients__list-icon
                                        use(xlink:href="../img/sprite/sprite.svg#sticker")
                                    p.clients__list-title Гарантия на продукцию
                            .col-lg-4.col-last.col-md-4
                                .clients__list-item
                                    svg.icon.clients__list-icon
                                        use(xlink:href="../img/sprite/sprite.svg#fast")
                                    p.clients__list-title Изготовление от 4 <br/> рабочих дней
                            .col-lg-8.col-last.col-md-8
                                .clients__list-item.clients__list-item_last
                                    svg.icon.clients__list-icon
                                        use(xlink:href="../img/sprite/sprite.svg#euro")
                                    p.clients__list-title Экономит ваши средства  за счет простоты подготовки к монтажу, эластичности, универсальности и стоимости самого материала
                .col-xl-3.col-md-12
                    .clients__form
                        h3.clients__form-title Бесплатный
                        p.clients__form-desc расчет стоимости гибкого камня,клея и грунтовки
                        form.clients__form-body(action="/" method="post")
                            input(type="text" name="name" placeholder="Ваше имя" required)
                            input(type="text" name="phone" placeholder="Ваш телефон" required)
                            input(type="submit" value="Рассчитать")
                        p.clients__form-condition Нажимая кнопку “Расчитать” Вы соглашаетесь на обработку Вашей персональной информации