mixin application(data)
    - data = data || {};
    section.application(class = data.class role = data.role)
        .application__container.container
            .row
                .col-12
                    h2.application__title Где можно применить гибкий камень
            
            .application__list
                .row
                    .col-lg-4.col-md-6
                        .application__list-item
                            .application__list-mask
                                .application__list-body
                                    p.application__list-title Для облицовки стен
                                    span.application__list-desc как в самом помещении, так и на улице
                            img.application__list-preview(src="../img/application/application-1.jpg" alt="@@")
                    .col-lg-4.col-md-6
                        .application__list-item
                            .application__list-mask
                                .application__list-body
                                    p.application__list-title Для облицовки декора
                                    span.application__list-desc камины. дымоходы
                            img.application__list-preview(src="../img/application/application-2.jpg" alt="@@")
                    .col-lg-4.col-md-6.application__list-item_last
                        .application__list-item
                            .application__list-mask
                                .application__list-body
                                    p.application__list-title Для облицовки влажных помещений
                                    span.application__list-desc ванную комнату, бассейн и другие помещения, подверженные влажности и перепаду температур
                            img.application__list-preview(src="../img/application/application-3.jpg" alt="@@")
