// application

.application {
    padding-top: 80px;
    background: @white;

    @media screen and (max-width: 1140px) {
        padding-top: 40px;
    }

    &__title {
        margin: 0;
        margin-bottom: 46px;
        padding: 0;
        font-size: 32px;
        font-family: 'Circe';
        font-weight: bold;
        text-align: center;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
            width: 100%;
            position: relative;
            transition: all .3s;

            &_last {
                @media screen and (max-width: 1140px) { 
                    margin: 0 auto;
                }
            }

            @media screen and (max-width: 1540px) { 
                margin-bottom: 20px;
            }

            &:hover {
                top: -10px;
                left: 0;
                position: absolute;
                width: 103%;

                @media screen and (max-width: 767px) {
                    position: relative !important;
                    background: 0;
                    top: 0 ;
                    width: auto;
                    color: @white;
                    width: 100%;
                }

                .application__list-preview {
                    width: 100%;
                }

                .application__list-mask {
                    width: 100%;
                }

                .application__list-body {
                    bottom: 47px;
                    left: 47px;
                }

            }

        }

        &-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 4px;
            background: url('../img/mask.png') repeat-x bottom center;
            border-radius: 0 0 4px 4px;
        }

        &-body {
            left: 20px;
            bottom: 30px;
            position: absolute;
            color: @white;
        }

        &-title, &-desc {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        &-title {
            font-size: 18px;
            font-family: 'Circe';
            font-weight: bold;
        }

        &-desc {
            font-size: 14px;
            font-family: 'Circe';
            font-weight: normal;
        }

        &-preview {
            margin: 0;
            border: 0;
            width: 100%;
            border-radius: 4px;
            -webkit-box-shadow: 4px 0px 21px 0px rgba(0,0,0,0.29);
            -moz-box-shadow: 4px 0px 21px 0px rgba(0,0,0,0.29);
            box-shadow: 4px 0px 21px 0px rgba(0,0,0,0.29);
        }

    }

}